aseekbot-lambda-api/document-analysis-workflow.json
{
  "Comment": "Document Analysis Workflow",
  "StartAt": "ValidateFile",
  "States": {
    "ValidateFile": {
      "Type": "Task",
      "Resource": "${ValidateFileArn}",
      "ResultPath": "$.validationResult",
      "Next": "ExtractValidationResult"
    },
    "ExtractValidationResult": {
      "Type": "Pass",
      "Parameters": {
        "extractedValidationResult.$": "$.validationResult.Payload.validationResult"
      },
      "ResultPath": "$.extractedValidationResult",
      "Next": "DetermineFileType"
    },
    "DetermineFileType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.extractedValidationResult.isTextractSupported",
          "BooleanEquals": true,
          "Next": "TextractAnalysis"
        },
        {
          "Variable": "$.extractedValidationResult.isTextractSupported",
          "BooleanEquals": false,
          "Next": "StandardTextProcessing"
        }
      ],
      "Default": "FailState"
    },
    "TextractAnalysis": {
      "Type": "Task",
      "Resource": "${TextractAnalysisArn}",
      "ResultPath": "$.textractResult",
      "Next": "ProcessTextractResults"
    },
    "ProcessTextractResults": {
      "Type": "Task",
      "Resource": "${ProcessTextractResultsArn}",
      "ResultPath": "$.processedResults",
      "Next": "SuccessState"
    },
    "StandardTextProcessing": {
      "Type": "Task",
      "Resource": "${StandardTextProcessingArn}",
      "ResultPath": "$.processedResults",
      "Next": "SuccessState"
    },
    "SuccessState": {
      "Type": "Succeed"
    },
    "FailState": {
      "Type": "Fail",
      "Error": "DocumentProcessingError",
      "Cause": "Document processing failed"
    }
  }
}