aseekbot-lambda-api/step-functions-deployment.yaml
AWSTemplateFormatVersion: '2010-09-09'
Resources:
  DocumentAnalysisStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: DocumentAnalysisWorkflow
      RoleArn: !GetAtt DocumentAnalysisStepFunctionsRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Document Analysis Workflow for Procurement Chatbot",
          "StartAt": "InitializeProcess",
          "States": {
            "InitializeProcess": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-init-process",
                "Payload": {
                  "input.$": "$",
                  "timestamp.$": "$$.Execution.StartTime"
                }
              },
              "ResultPath": "$.processData",
              "Next": "UpdateStatusStarted"
            },
            "UpdateStatusStarted": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-status-updater",
                "Payload": {
                  "documentId.$": "$.documentId",
                  "userId.$": "$.userId",
                  "status": "STARTED",
                  "message": "Document analysis process has started."
                }
              },
              "Next": "ValidateFileAndScan"
            },
            "ValidateFileAndScan": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-file-validation",
                "Payload": {
                  "s3Bucket.$": "$.s3Bucket",
                  "s3Key.$": "$.s3Key",
                  "fileType.$": "$.fileType",
                  "documentId.$": "$.documentId"
                }
              },
              "TimeoutSeconds": 120,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "HandleValidationError"
                }
              ],
              "Next": "UpdateStatusValidated"
            },
            "UpdateStatusValidated": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-status-updater",
                "Payload": {
                  "documentId.$": "$.documentId",
                  "userId.$": "$.userId",
                  "status": "VALIDATED",
                  "message": "Document validated and scanned successfully."
                }
              },
              "Next": "DetermineFileType"
            },
            "HandleValidationError": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-error-handler",
                "Payload": {
                  "error.$": "$.error",
                  "documentId.$": "$.documentId",
                  "errorType": "ValidationError"
                }
              },
              "Next": "UpdateStatusFailed"
            },
            "DetermineFileType": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.fileType",
                  "StringEquals": "pdf",
                  "Next": "ExtractPdfText"
                },
                {
                  "Variable": "$.fileType",
                  "StringEquals": "docx",
                  "Next": "ExtractDocxText"
                },
                {
                  "Variable": "$.fileType",
                  "StringEquals": "xlsx",
                  "Next": "ExtractXlsxData"
                },
                {
                  "Variable": "$.fileType",
                  "StringEquals": "csv",
                  "Next": "ExtractCsvData"
                }
              ],
              "Default": "HandleUnsupportedFileType"
            },
            "ExtractPdfText": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-textract-pdf",
                "Payload": {
                  "s3Bucket.$": "$.s3Bucket",
                  "s3Key.$": "$.s3Key",
                  "documentId.$": "$.documentId"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 2,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "HandleExtractionError"
                }
              ],
              "Next": "UpdateStatusExtracted"
            },
            "ExtractDocxText": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-docx-parser",
                "Payload": {
                  "s3Bucket.$": "$.s3Bucket",
                  "s3Key.$": "$.s3Key",
                  "documentId.$": "$.documentId"
                }
              },
              "TimeoutSeconds": 180,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 2,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "HandleExtractionError"
                }
              ],
              "Next": "UpdateStatusExtracted"
            },
            "ExtractXlsxData": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-excel-parser",
                "Payload": {
                  "s3Bucket.$": "$.s3Bucket",
                  "s3Key.$": "$.s3Key",
                  "documentId.$": "$.documentId"
                }
              },
              "TimeoutSeconds": 180,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 2,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "HandleExtractionError"
                }
              ],
              "Next": "UpdateStatusExtracted"
            },
            "ExtractCsvData": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-csv-parser",
                "Payload": {
                  "s3Bucket.$": "$.s3Bucket",
                  "s3Key.$": "$.s3Key",
                  "documentId.$": "$.documentId"
                }
              },
              "TimeoutSeconds": 120,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 2,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "HandleExtractionError"
                }
              ],
              "Next": "UpdateStatusExtracted"
            },
            "UpdateStatusExtracted": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-status-updater",
                "Payload": {
                  "documentId.$": "$.documentId",
                  "userId.$": "$.userId",
                  "status": "TEXT_EXTRACTED",
                  "message": "Document text successfully extracted."
                }
              },
              "Next": "AnalyzeContent"
            },
            "HandleExtractionError": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-error-handler",
                "Payload": {
                  "error.$": "$.error",
                  "documentId.$": "$.documentId",
                  "errorType": "ExtractionError"
                }
              },
              "Next": "UpdateStatusFailed"
            },
            "HandleUnsupportedFileType": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-error-handler",
                "Payload": {
                  "fileType.$": "$.fileType",
                  "documentId.$": "$.documentId",
                  "errorType": "UnsupportedFileType"
                }
              },
              "Next": "UpdateStatusFailed"
            },
            "AnalyzeContent": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-content-analyzer",
                "Payload": {
                  "extractedText.$": "$.extractedText",
                  "documentId.$": "$.documentId",
                  "fileType.$": "$.fileType",
                  "modelType": "BEDROCK_CLAUDE"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 2,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "HandleAnalysisError"
                }
              ],
              "Next": "UpdateStatusAnalyzed"
            },
            "UpdateStatusAnalyzed": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-status-updater",
                "Payload": {
                  "documentId.$": "$.documentId",
                  "userId.$": "$.userId",
                  "status": "CONTENT_ANALYZED",
                  "message": "Document content successfully analyzed."
                }
              },
              "Next": "CheckMultipleDocuments"
            },
            "HandleAnalysisError": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-error-handler",
                "Payload": {
                  "error.$": "$.error",
                  "documentId.$": "$.documentId",
                  "errorType": "AnalysisError"
                }
              },
              "Next": "UpdateStatusFailed"
            },
            "CheckMultipleDocuments": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.isMultipleDocuments",
                  "BooleanEquals": true,
                  "Next": "CompareDocuments"
                }
              ],
              "Default": "GenerateInsights"
            },
            "CompareDocuments": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-document-comparer",
                "Payload": {
                  "documents.$": "$.documents",
                  "documentId.$": "$.documentId"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 2,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "HandleComparisonError"
                }
              ],
              "Next": "UpdateStatusCompared"
            },
            "UpdateStatusCompared": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-status-updater",
                "Payload": {
                  "documentId.$": "$.documentId",
                  "userId.$": "$.userId",
                  "status": "DOCUMENTS_COMPARED",
                  "message": "Documents successfully compared."
                }
              },
              "Next": "GenerateInsights"
            },
            "HandleComparisonError": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-error-handler",
                "Payload": {
                  "error.$": "$.error",
                  "documentId.$": "$.documentId",
                  "errorType": "ComparisonError"
                }
              },
              "Next": "UpdateStatusFailed"
            },
            "GenerateInsights": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-insight-generator",
                "Payload": {
                  "analysisResults.$": "$.analysisResults",
                  "comparisonResults.$": "$.comparisonResults",
                  "documentId.$": "$.documentId"
                }
              },
              "TimeoutSeconds": 180,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 2,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "HandleInsightError"
                }
              ],
              "Next": "UpdateStatusInsightsGenerated"
            },
            "UpdateStatusInsightsGenerated": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-status-updater",
                "Payload": {
                  "documentId.$": "$.documentId",
                  "userId.$": "$.userId",
                  "status": "INSIGHTS_GENERATED",
                  "message": "Document insights successfully generated."
                }
              },
              "Next": "StoreResults"
            },
            "HandleInsightError": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-error-handler",
                "Payload": {
                  "error.$": "$.error",
                  "documentId.$": "$.documentId",
                  "errorType": "InsightError"
                }
              },
              "Next": "UpdateStatusFailed"
            },
            "StoreResults": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-result-storage",
                "Payload": {
                  "insights.$": "$.insights",
                  "analysisResults.$": "$.analysisResults",
                  "comparisonResults.$": "$.comparisonResults",
                  "documentId.$": "$.documentId",
                  "userId.$": "$.userId"
                }
              },
              "TimeoutSeconds": 120,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 3,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "HandleStorageError"
                }
              ],
              "Next": "UpdateStatusCompleted"
            },
            "HandleStorageError": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-error-handler",
                "Payload": {
                  "error.$": "$.error",
                  "documentId.$": "$.documentId",
                  "errorType": "StorageError"
                }
              },
              "Next": "UpdateStatusFailed"
            },
            "UpdateStatusCompleted": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-status-updater",
                "Payload": {
                  "documentId.$": "$.documentId",
                  "userId.$": "$.userId",
                  "status": "COMPLETED",
                  "message": "Document analysis workflow completed successfully.",
                  "resultLocation.$": "$.resultLocation"
                }
              },
              "End": true
            },
            "UpdateStatusFailed": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:361769603480:function:aseekbot-api-dev-status-updater",
                "Payload": {
                  "documentId.$": "$.documentId",
                  "userId.$": "$.userId",
                  "status": "FAILED",
                  "error.$": "$.error",
                  "message": "Document analysis workflow failed."
                }
              },
              "End": true
            }
          }
        }

  DocumentAnalysisStepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole
      Policies:
        - PolicyName: InvokeLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: "*"

  DocumentAnalysisStatusTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: DocumentAnalysisStatus
      AttributeDefinitions:
        - AttributeName: documentId
          AttributeType: S
      KeySchema:
        - AttributeName: documentId
          KeyType: HASH
      BillingMode: PAY_PER_REQUEST

Outputs:
  StateMachineArn:
    Value: !Ref DocumentAnalysisStateMachine
  StatusTableName:
    Value: !Ref DocumentAnalysisStatusTable
